/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body {
  background: #f4f4f4;
}

/* Header */
.header {
  background: white;
  padding: 15px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

/* Cart */
.cart {
  position: relative;
  cursor: pointer;
}
.cart-icon {
  font-size: 32px;
}
.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  padding: 4px 7px;
  color: white;
  border-radius: 50%;
  font-size: 13px;
}

.cart-dropdown {
  position: absolute;
  width: 250px;
  right: 0;
  top: 40px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  z-index: 1000;
}

.cart-item {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

/* Products */
.products {
  padding: 40px;
}

.products h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}
